/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    height: 100%;
}


/* ---- End of css reset ---- */

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: azure;
    font-family: Sans-serif;
}

/* Card component */

.card{
    margin: 0 auto;
    margin-top: 200px;
    width: 35%;
    height: 40%;
    background-color: yellow;
    background: white;
    box-shadow: 5px 5px 25px 5px rgba(180, 180, 180, .7);
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
}

/* Inside Card elements */

.inside-card{
    display: flex;
    flex-direction: column;
    
}


/* --- The only article --- */


/* --- H1 of card element --- */

.grocery-h1{
    font-size: 30px;
    letter-spacing: 2px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}


/* --- div of adding item elements ---  */

.adding-items-comp{
    margin: 0 auto;
    width: 90%;
}


/* --- Text input --- */

#input-text{
    padding: 7px 0;
    width: 85%;
    border: none;
    background-color:rgb(238, 238, 238);
    border-radius: 10px 0 0 10px;
    text-indent: 15px;
}



/* ---- Submit button ---- */

#submit-button{
    margin-left: -5px;
    padding: 8px 10px;
    border-radius: 0 10px 10px 0;
    background-color: rgba(138, 206, 255, 0.7);
    border: none;
}


#submit-button:hover{
    cursor: pointer;
}

/* --- Clear button --- */


#clear-button{
    position: absolute;
    bottom: 0;
    color: red;
    font-size: 20px;
    border: none;
    background-color: white;
    letter-spacing: 4px;
    
}


/* --- Javasctipt added/removed items  */

.empty-value-error{
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
    border-radius: 5px;
    padding: 2px 0;
    letter-spacing: 3px;
    /* need to change to display hidden */   
    display: none;
    width: 80%;
    font-size: 15px;
    background-color: rgba(255, 136, 136, .6);
    
}

.pushing-items{
    margin-top: 20px;
    margin-left: 7%;
}

.all-li-elements{
    
    color: red;
}